/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Dosis:200,600);
@font-face {
    font-family: 'codropsicons';
    src:url('../fonts/codropsicons/codropsicons.eot');
    src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codropsicons/codropsicons.woff') format('woff'),
    url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
    url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #fff;
	background: #FA7517;
}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #fff;
}

/* Header Style */
.main,
.container > header {
    margin: 0 auto;
    padding: 0.2em 0 0 0;
}

.container > header {
    text-align: center;
}

.container > header h1 {
    font-size: 2.625em;
    line-height: 1.3;
    margin: 0;
    font-weight: 300;
}

.container > header span {
    display: block;
    font-size: 60%;
    opacity: 0.5;
    padding: 0 0 0.6em 0.1em;
}
.container {
    height: 100%;
    position: relative;
}

.container > section {
    margin: 0 auto;
    padding: 5em 3em;
    text-align: center;
    color: #fff;
}

.container > section p {
    position: relative;
    margin: 0;
    padding: 1em;
    z-index: 1;
}

.container > section p.text {
    font-size: 1.4em;
}

h1 img {
    max-height: 0.8em;
    width: auto;
}

/*
/*
/*
/*
/*
/*
*/
/*
/*
*/
/*STEP ONE - FULL SCREEN FORM
/* Top Navigation Style */
.nest5-top {
    margin-top: 1em;
}

.nest5-top a {
    font-size: 0.69em;
    padding: 0 0.25em;
    display: inline-block;
    text-decoration: none;
    font-size: 1.2em;
}

.nest5-icon:before {
    margin: 0 4px;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'codropsicons';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

.nest5-icon-drop:before {
    content: "\e001";
}

.nest5-icon-prev:before {
    content: "\e004";
}

.nest5-icon-info:before {
    content: "\e003";
}

.nest5-icon span {
    display: none;
    position: absolute;
    font-size: 0.85em;
    padding: 0.5em 0 0 0.25em;
    font-weight: 700;
}

.nest5-icon:hover span {
    display: block;
    color: #6a7b7e;
}

 /*
 /*
 /*
 /*
 /*
 /*
 /*
 /*
 /*
 /*
 /*
 BUTTONS*/


.no-touch .note-touch {
    display: none;
}

.color-1 {
    background: #0e83cd;
}

.color-2 {
    background: #f06060;
}

.color-3 {
    background: #fcd04b;
}

.color-4 {
    background: #2ecc71;
}

.color-5 {
    background: #9e54bd;
}

.color-6 {
    background: #4593e3;
}

.color-7 {
    background: #2ac56c;
}

.color-8 {
    background: #ecf0f1;
}

.color-8 p.text {
    color: #aaa;
    font-weight: bold;
}

@media screen and (max-width: 25em) {

    .codrops-icon span {
        display: none;
    }

}

